main {
  position: relative;
  top: 5.4rem;
}
main .custom-container {
  display: grid;
  grid-template-columns: 18vw auto 20vw;
  column-gap: 2rem;
  position: relative;
}

main .custom-container .left , main .custom-container .right {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left);
}











